@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

* {
	background: #141414;
	color: #ffffff;
}
.title{
	font-family: 'Fasthand', cursive;
}

.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}
.poster-container{
  position: relative;
  transition: transform 0.2s;
}
.poster-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.poster-container:hover .overlay{
  opacity: 1;
}
.overlay {
	background: rgba(0, 0, 0, 0.8);
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}
